<!DOCTYPE html>
<html>
  <head>
    <title>Download Loop Drop</title>
    <link rel='stylesheet' href='/bundle.css'/>
    <link rel="shortcut icon" href="/favicon.png"/>
  </head>
  <body>
    <div class='Main'>
      <a href='/'>
        <img class='.logo' style='float:left;margin-left: 70px;margin-top: 50px' width='200' src='/loop-drop.png' />
      </a>
      <section style='padding-left: 340px'>
        <header>
          <h1>
            <em>Download</em> Latest Release
          </h1>
        </header>
        <div class='FileDownload -zip'>
          <a href='<%= platforms[currentPlatform].downloadUrl %>'>
            <img src='/download.png' width='25' style='margin-bottom:-4px' /><em>Loop Drop <%= latestVersion %></em> for <%= platforms[currentPlatform].name %>
          </a>
        </div>
        <div style='font-size: 80%;margin-top: -10px'>
          <a href='<%= changeLogUrl %>'>View Changelog</a> | <a href='https://github.com/mmckegg/loop-drop-app/releases'>Previous Versions</a>
        </div>
        <div style='margin-top: 20px'>
          <em>Other Platforms</em><br/>
          <a href='<%= platforms.win32.downloadUrl %>'>Windows 32-bit</a> |
          <a href='<%= platforms.win64.downloadUrl %>'>Windows 64-bit</a> |
          <a href='<%= platforms.mac.downloadUrl %>'>Mac</a> |
          <a href='<%= platforms.linux32.downloadUrl %>'>Linux ia32</a> |
          <a href='<%= platforms.linux64.downloadUrl %>'>Linux x64</a>
        </div>
      </section>
      <section class='-feature' id='contributing'>
        <header>
          <h1>
            <em>Contributing</em>
            <a href='https://www.patreon.com/MattMcKegg' title='Support Loop Drop on Patreon'><img style='float:right' src='/heart.png' width='140' /></a>
          </h1>
        </header>
        <div>
          <p>
            <em><a href='https://github.com/mmckegg/loop-drop-app'>All of the code</a> behind Loop Drop is open source and written in JavaScript.</em> <br/>
            This makes it possible (and easy!) to modify any aspect of the app to suit your own needs, but most importantly allows you to contribute to the ongoing development.
          </p>
          <em>You can also <a href='https://www.patreon.com/MattMcKegg'>support the project financially</a> on Patreon!</em>
        </div>
      </section>
    </div>
  </body>
</html>
