<? require '../formatters/mcss.js' as mcss ?>

<!doctype html>
<html>
  <head>
    <title>Listen to public loopjs.com server</title>
  </head>
  <body>

    <style t:view='mcss'>
      html, body {
        background: #444;
        margin: 0;
        font-family: 'Optima';
        overflow:hidden;
        height: 100%
      }

      body {
        display: flex;
        flex-direction: column;
      }

      * {
        box-sizing:border-box;
      }

      Main {
        color: #EEE;
        font-size: 10pt;
        width: 400px;
        margin: 20px auto;
        padding: 20px;
        border-radius: 10px;
        background: #555;
      }

    </style>

    <div class='Main' id='remote' />
    <script src='listener.js' />
  </body>
</html>