<!DOCTYPE html>
<html>
  <head>
    <title>Updating Loop Drop</title>
    <link rel='stylesheet' href='/bundle.css'/>
    <link rel="shortcut icon" href="/favicon.png"/>
  </head>
  <body>
    <div class='Main'>
      <a href='/'>
        <img class='.logo' style='float:left;margin-right: 20px;margin-top: 20px' width='300' src='/loop-drop.png' />
      </a>
      <section>

        <header>
          <h1>Update Loop Drop<br/><em>The latest version is <%= latestVersion %></em></h1>
        </header>

        <div>
          <p>Find the <em>welcome email</em> that was sent at purchase and use the <em>download link</em>.</p>
        </div>

        <header>
          <p>If you need <em>help</em>, send an <em>email</em> to <a href='mailto:matt@wetsand.co.nz'>matt@wetsand.co.nz</a><br/>or contact me on <em>twitter</em> <a href='https://twitter.com/mmckegg'>@MattMcKegg</a><p>
        </header>

      </section>

      <% if (status === 'Completed') { %>
      <section class='-feature'>
        <header>
          <h1>
            Email is on it's way!
          </h1>
          <p>
            If it doesn't show up soon <a href='mailto:matt@wetsand.co.nz'>contact me</a> and we'll get it sorted.
          </p>
        </header>
      </section>
      <% } else if (status === 'Refunded') { %>
      <section class='-feature'>
        <h1>
          Sorry, <em><%= email %></em> was used to purchase Loop Drop in the past, but you asked for a <em>refund</em>.
        </h1>
        <p>You can <a href='/'>buy Loop Drop again</a> if you want or <a href='/loop-drop/update'>try another email address</a>!</p>
      </section>
      <% } else if (status === 'Unknown') { %>
      <section class='-feature'>
        <h1>It doesn't look like <em><%= email %></em> has ever purchased Loop Drop.</h1>
        <p>Are you sure that was the email you used? Wanna <a href='/loop-drop/update'>try again</a>?</p>
      </section>
      <% } else { %>
      <section class='-feature'>
        <header>
          <h1>Lost your download link?<em></h1>
          <p>Enter the <em>email address used for purchase</em> below:</p>
        </header>


        <form class='ResendForm' method='POST'>
          <div>
            <input type='email' cols='30' id='email' name='email' />
          </div>
          <footer>
            <button type='submit'>Resend Download Link</button> or <a href='/'>visit homepage</a>
          </footer>
        </form>
      </section>
      <% } %>
    </div>
  </body>
</html>